/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Header Section */
header {
    background: linear-gradient(to right, #034a9b, #000000);
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 2.5rem;
}

header h1 span {
    color: #ffda79;
}

header p {
    margin: 20px 0;
}

header .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: #ffda79;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

header .btn:hover {
    background: #ffc107;
}

/* Section Styling */
section {
    padding: 50px 20px;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #aa5bff;
}

/* About Section */
#about {
    background: #f9f9f9;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #666;
}

/* Skills Section */
#skills {
    background: #fff;
}

.skills-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card {
    padding: 15px 25px;
    background: #4aa5f0;
    color: #fff;
    border-radius: 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* Portfolio Section */
#portfolio {
    background: #f9f9f9;
}

.portfolio-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.portfolio-item {
    max-width: 300px;
}

.portfolio-item img {
    width: 100%;
    border-radius: 10px;
}

.portfolio-item h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Footer Section */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}